.footer-container {
  background: #f8f8f8;
  .footer-info {
    padding:30px;
    font-size: 28px;
  }
  .footer-icon{
    width: 70px;
    margin-bottom: 15px;
  }
  .footer-sample-image {
    width:100%;
  }
  h3 {
    margin: 40px;
  }
}